<div class="input-group">
    <label for="TableName">Table Name</label>
    <select>
      <option>a</option>
      <option>a</option>
      <option>a</option>
      <option>a</option>
      <option>a</option>
      <option>a</option>
      <option>a</option>
      <option>a</option>
      <option>a</option>
      <option>a</option>
    </select>
</div>
<div class="input-group">
    <label for="TableName">Field 2</label>
    <input type="text">
</div>

<div class="input-group">
    <label for="TableName">Query</label>
    <textarea></textarea>
</div>
<div class="input-group">
    <label for="TableName">Max Row</label>
    <input type="text">
</div>

<button>Submit</button>